doctype html
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible", content="IE=9")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title= title
        link(rel="stylesheet", href="lib/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="stylesheets/main.css")
        script(src="/lib/d3/d3.js")
        script(src="/lib/jquery/jquery-1.11.1.js")
        script(src="/lib/bootstrap/js/bootstrap.js")
        script(src="/lib/echarts/echarts.js")
        script(src="/js/word_cloud.js")
        script(src="/js/heatmap.js")
        script(src="/js/aoi_generator.js")
        script(src="/js/main.js")
    body
        block content
