html,
body {
    margin: 0;
    padding: 0;
}

.paper-area {
    display: inline-block;
    position: relative;
}

#annulus-container {
    width: 400px;
    height: 261px;
    position: fixed;
    top: 51px;
    right: 367px;
}

#cloud-container {
    width:307px;
    height: 261px;
    position: fixed;
    top: 51px;
    right: 60px;
}

#force-container {
    width: 707px;
    height: 422px;
    position: fixed;
    bottom: 0;
    right: 60px;
}

#heat-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 673px;
    height: 871px;
    display: none;
}

